<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        table {border-collapse: collapse; font-size: 14px; width: 80%; margin: auto}
        table, th, td {border: 1px solid darkslategray;padding: 10px}
    </style>
</head>
<body>
<div style="text-align: center">
    <span style="color: darkslategray; font-size: 30px">欢迎光临！</span>
    <hr/>
    <table class="list">
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>用户名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>生日</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        <tr th:each="user, index:${users}" th:object="${user}">
            <td th:text="${user.id}">123</td>
            <td th:text="${user.name}">张三2</td>
            <td th:text="*{userName}">张三2</td>
            <td th:text="*{age}">20</td>
            <td th:text="${user.sex} == 1 ? '男':'女'">20</td>
            <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}">1980-02-30</td>
            <td th:text="${user.note}">无</td>
            <td>
                <a href="#" th:href="@{/delete(id=${user.id}, userName=*{userName})}">删除</a>
                <a href="#" th:href="@{/updapte(id=${user.id}, userName=*{userName})}">修改</a>
                <a href="#" th:href="@{/query(id=${user.id}, userName=*{userName})}">审核</a>
            </td>
        </tr>
    </table>
</div>

<h5>thymeleaf布局</h5>
<div th:insert="footer :: copy('开课吧1')"></div>
<div th:replace="footer :: copy('开课吧2')"></div>
<div th:include="footer :: copy('开课吧3')"></div>



</body>
</html>
